// ######-COLORS-######
//primary
$pale-blue: hsl(225, 100%, 94%);
$bright-blue: hsl(245, 75%, 52%);

//neautra
$very-pale-blue: hsl(225, 100%, 98%);
$desaturated-blue: hsl(224, 23%, 55%);
$dark-blue: hsl(223, 47%, 23%);

// ######-FONT SIZES-######
$font-large: 22px;
$font-regular: 16px;
$font-small: 13px;
